@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: poppins;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
    padding: 10px;
}

.header-logo {
    font-family: lobster;
    color: white;
}

.header-nav {
    display: flex;
    list-style: none;
}

.header-nav li {
    margin-left: 20px;
}

.header-nav li a {
    text-decoration: none;
    color: bisque;
}

.header-nav li a:hover {
    color: white;
}

.menu>ul>li>ul {
    list-style: none;
    position: absolute;
    background-color: rgb(90, 90, 240);
    display: none;
}

.menu>ul>li>ul>li {
    margin: 0;
    padding: 5px;
}

.menu>ul>li:hover>ul {
    display: block;
}

.web-development>li>ul {
    list-style: none;
    position: absolute;
    background-color: blue;
    left: 159px;
    top: 50px;
    display: none;
}

.web-development>li:hover>ul {
    display: block;
}

.web-development>li>ul>li {
    margin: 0;
    padding: 5px 15px;

}

.header-search input {
    border: none;
    border-radius: 5px;
    font-family: poppins;
    outline-style: none;
    padding: 2px 5px;
}

.header-search button {
    border: none;
    border-radius: 5px;
    font-family: poppins;
    outline-style: none;
    padding: 2px 5px;
}

.header-search button:hover {
    background-color: gray;
}